<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
            <staticContent>
        <mimeMap fileExtension=".coffee" mimeType="text/plain" />
    </staticContent>
    </system.webServer>
    <location path="vis.coffee">
        <system.webServer>
            <directoryBrowse enabled="false" />
        </system.webServer>
    </location>

</configuration>
